/* Header Section Start */
header{
    background: url("./Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}
/* Header Section End */

/* Navbar Start */
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}

.nav-title{
    font-size: 30px;
}
nav ul li{
    list-style: none;
}

ul button{

}
/* Navbar End */

/* Banner Start */
.banner{
    text-align: center;
    padding: 0 267px 237px 267px;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

/* Banner End */



/* Main Section Start */
main{
    margin: 0 159px 0 141px;

   
}
/* Main Section End */

/* Action Section Start */
.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;
}

.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-description{
    font-size: 24px;
    color: #252432;

}

.action-section img{
    width: 100%;
    border-radius: 45px;
}
/* Action Section End */

/* Stats-Section  Start */
.stats-section{
    background-color: #8987A1;
    text-align: center;
    padding: 50px 142px;
    border-radius: 24px;
}

.stats-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.stats-items{
    display: flex;
    justify-content: space-around;
}
.stats-items h3{
    font-size: 80px;
    font-weight: bold;
    color: #E5E7FF;
    margin-bottom: 5px;
}
.stats-items p{
    font-size: 20px;
    color: #B2B4C7;
    
}
/* Stats-Section End */

/* Review Section Start */
.review-section{
    
}

.review-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}
.review-cards{
    display: flex;
    gap: 10px;
    
    
}
.review-card{
    background-color: #f7eded;
    width: 350px;
    border-radius: 10px;
    padding:  30px 24px 30px 24px;
}

.card-title{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.card-description{
    font-size: 16px;
    font-weight: 400;
    color: #A7A8A9;
}

.card-user{
    display: flex;
    align-items: center;
    gap: 20px;
}
.card-user img{
   border-radius: 15px;
}
.card-user-content h4{
    font-size: 12px;
    color: #757575;
    margin: 0;
    
}
.card-user-content p{
    font-size: 9px;
    color: #B3B3B3;
    
}
/* Review Section End */


/* Focus Section Start */
.focus-section{
    text-align: center;
    padding: 30px 100px;
    background-color: #FFFFFF;
    margin-top: 120px;
    border-radius: 10px;
}
.focus-content{
    margin-bottom: 25px;
}

.focus-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.focus-description{
    font-size: 13px;
    font-weight: 500;
    color: #8987A1;
}

.focus-img img{
    width: 100%;
    height: 450px;
    border-radius: 48px;
}
/* Focus Section End */

/* Contact Section Start */
.contact-section{
    display: flex;
    gap: 100px;
    margin: 20px 0;
    
}
.contact-heading-container{
    display: flex;
    align-items: center;
    width: 60%;
}
.contact-heading-container h2{
    font-size: 95px;
    font-weight: bold;
    columns: #000000;
}

.contact-form-container{
    width: 40%;
}
form div{
    margin: 19px 0;
}

form label ,input{
    display: block;

}
form label{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

form input{
   
    border: none;
    background-color: #e7d5d5;
    border-radius: 7px;
    width: 100%;
    padding: 15px 5px;
    
}

form textarea{
    /* padding:10px 30px ; */
    border: none;
    background-color: #e7d5d5;
    border-radius: 7px;
    width: 100%;
    padding: 10px 5px;
}

form button{
    padding: 10px 110px;
    display: inline-block;
    color: #FFFFFF;
    background-color: #4E47FF;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: 100%;
}


/* Contact Section End */




/* Common Style Start */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.btn-primary{
    color: #FFFFFF;
    background-color: #4E47FF;
    padding: 12px 36px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


body{
    background-color: #F5F8FF;;
}

/* Common Style End */
